.roomList {
  margin-top: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--spacing) * 1.5) 0 var(--spacing);
}

.title {
  font-weight: 500;
  font-size: 1.3rem;
}

.add {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-accent);
  cursor: pointer;

  background: none;
  border: none;
}

.add:hover {
  color: var(--color-text);
}
