.roomList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.roomButton {
  display: flex;
  align-items: center;
  gap: var(--spacing);

  .tasksCount {
    margin-left: auto;
    font-size: 1rem;
    color: var(--color-muted);
  }
}