.roomListContainer {
  margin-top: 1.5rem;
}

.roomList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--spacing) * 1.5) 0 var(--spacing);
}

.title {
  font-weight: 500;
  font-size: 1.3rem;
}

.add {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-accent);
  cursor: pointer;

  background: none;
  border: none;
}

.add:hover {
  color: var(--color-text);
}


.roomButton {
  display: flex;
  align-items: center;
  gap: var(--spacing);


  .icon {
    font-size: 1.125rem;
  }

  .tasksCount {
    margin-left: auto;
    font-size: 1rem;
    color: var(--color-muted);
  }
}