.headerButtons {
  display: flex;
  justify-content: space-between;
  margin: 0.375rem;

  padding: var(--spacing) calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2);

  svg {
    display: flex;

    font-size: 1.75rem;
    background: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;

    &:hover {
      color: var(--color-text);
    }
  }
}