.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  flex: 1;
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  list-style: none;
  height: 100%;

  border-bottom: 0.125rem solid transparent;

  .today {
    .num {
      color: var(--color-accent);
    }
  }
}

.old {
  color: var(--color-muted);
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-text);
  letter-spacing: 0.01875rem;
}

.num {
  font-size: 1.25rem;
  font-weight: 600;
}

.selected {
  border-bottom: 0.125rem solid var(--color-accent);
}