.button {
  width: 100%;
  background: var(--color-panel);
  border: none;
  border-radius: var(--radius);
  padding: calc(var(--spacing) * 1.2) var(--spacing);
  color: var(--color-text);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background: #252525;
}

.active {
  background: #2c2c2c;
}

.rightPlace {
  display: flex;
  align-items: center;

  .count {
    font-size: 1rem;
    color: var(--color-text);
  }

  .arrowIcon {
    font-size: 1.25rem;
    color: var(--color-muted);
  }
}

.item {
  display: flex;
  align-items: center;
  background: var(--color-panel);
  padding: calc(var(--spacing) * 1.2) var(--spacing);
  border-radius: var(--radius);
  margin-bottom: var(--spacing);
  gap: var(--spacing);
  font-size: 1rem;
}

.icon {
  font-size: 1.125rem;
}

.muted {
  margin-left: auto;
  font-size: 1rem;
  color: var(--color-muted);
}
